.oghi{
background-color: rgb(195, 129, 14);
}

.kk{
border-radius: opx;
border-radius: 10px;
border-radius: 15px;
margin: 20px;
padding: 10px;}
.cc{
    border-radius: 0cpx;
    background-color: rgb(229, 255, 0);
    border-radius: 0cap;
}
.dd{
    border-radius: opx;
    border-radius: 5px;
    border-radius: 10px;
    background-color: azure;
    margin: 10px;
    padding: 5px;
}



